# Python cache files
__pycache__/
*.py[cod]

# Pipenv files
Pipfile.lock

# Jupyter Notebook checkpoints
**/.ipynb_checkpoints

# Environment variables
.env

# Data files
data/raw/
data/processed/

# Ignore other untracked files
*.log
*.tmp
